.tech_icon {
    font-size: 50px;
    margin: 20px;
}

.pink {
    color: #ff79c6;
}

.project_container {
    background-color: #44475a;
    z-index: 2;
}

.project_title {
    margin: 0;
    padding: 0;
}